<main>
<div class="container activity">
	<div class="main-act">
		<div class="second">
			<h1><%= header.title %></h1>
			<p><%= header.text %></p>
		</div>
	</div>
	<div class="current-activity">
		<% current_list.forEach(function (item) {%>
		<div class="activity-item">
			<div class="img" style="background: url('<%= item.intro_img %>') no-repeat center center"></div>
			<p><a href="<%= item.link %>"><%= item.title %></a></p>
		</div>
		<% }) %>
	</div>
	<h2><span>往期活动&nbsp;&nbsp;&nbsp;</span></h2>
	<div class="past-activity">
		<% past_list.forEach(function (item) { %>
		<div class="activity-item">
			<div class="img" id="img1" style="background: url('<%= item.intro_img %>') no-repeat center center"></div>
			<p><a href="<%= item.link %>"><%= item.title %></a></p>
		</div>
		<% }) %>
	</div>
</div>
</main>