<main>
<div class="container activity">
	<div class="main-act">
		<div class="second">
			<h1>区块链来了！传统产业人的焦虑与培训市场的“陷阱”</h1>
			<p>互联网风风火火二十多年来，去年还在热烈讨论共享经济，今年就被区块链的概念盖过了风头。</p>
		</div>
	</div>
	<div class="current-activity">
		<div class="activity-item">
			<div class="img" id="img1"></div>
			<p><a>2018-07-03 Linker月度读书会</a></p>
		</div>
		<div class="activity-item">
			<div class="img" id="img2"></div>
			<p><a>2018-06-27 链客数据博物馆启动</a></p>
		</div>
		<div class="activity-item">
			<div class="img" id="img3"></div>
			<p><a>2018-06-08 科技与生活交织的我们</a></p>
		</div>
		<div class="activity-item">
			<div class="img" id="img4"></div>
			<p><a>2018-05-22 深圳区块链行业座谈会</a></p>
		</div>
		<div class="activity-item">
			<div class="img" id="img5"></div>
			<p><a>我是活动的第一位</a></p>
		</div>
		<div class="activity-item">
			<div class="img" id="img6"></div>
			<p><a>我是活动的候选词条第二位</a></p>
		</div>
		<div class="activity-item">
			<div class="img" id="img7"></div>
			<p><a>我是活动的候选词条第三位</a></p>
		</div>
		<div class="activity-item">
			<div class="img" id="img8"></div>
			<p><a>我是活动的候选词条第N位</a></p>
		</div>
	</div>
	<h2><span>往期活动&nbsp;&nbsp;&nbsp;</span></h2>
	<div class="past-activity">
		<div class="activity-item">
			<div class="img" id="img1"></div>
			<p><a>2018-07-03 Linker月度读书会</a></p>
		</div>
		<div class="activity-item">
			<div class="img" id="img2"></div>
			<p><a>2018-06-27 链客数据博物馆启动</a></p>
		</div>
		<div class="activity-item">
			<div class="img" id="img3"></div>
			<p><a>2018-06-08 科技与生活交织的我们</a></p>
		</div>
		<div class="activity-item">
			<div class="img" id="img4"></div>
			<p><a>2018-05-22 深圳区块链行业座谈会</a></p>
		</div>
	</div>
</div>
</main>