body {
	margin: 0;
	font-family: Microsoft YaHei;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	width: 100%;
	background-color: #FFF;
	padding-top: 20px;
	padding-bottom: 10px;
	box-shadow: 0 0px 5px #AAA;
	float: left;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
}

header div.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

header div.header-icon-part {
	display: inline-block;
	width: 15%;
}

header img.header-icon {
	width: 150px;
}

header div.header-text-part {
	display: inline-block;
	padding-bottom: 10px;
	width: 80%;
	position: relative;
}

header ul {
	display: inline;
	list-style-type: none;
}

header ul li {
	display: inline;
	font-weight: bold;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	cursor: pointer;
}

header ul li:hover {
	border-bottom: 3px solid #333;
}


header div.pop-menu {
	border-radius: 10px;
	background-color: #FFF;
	box-shadow: 0px 1px 2px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}

header div.pop-menu div.item {
	text-align: center;
	padding-bottom: 3px;
	margin-bottom: 7px;
	cursor: pointer;
}

header div.pop-menu div.item:hover {
	border-bottom: 3px solid #333;
	margin-bottom: 4px;
}

header div.pop-menu div.from {
	border-bottom: 1px solid #EEE;
	padding-top: 5px;
	padding-bottom: 3px;
	margin-bottom: 6px;
	text-align: center;
}

header div#service-items {
	display: none;
	position: absolute;
	float: left;
	left: 94px;
	top: -5px;
}

header div#tech-items {
	display: none;
	position: absolute;
	float: left;
	left: 400px;
	top: -5px;
}

header div.another-link {
	width: 5%;
}

header div.another-link img {
	width: 35px;
}

header div.totop {
	display: none;
	padding: 10px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	background-color: #EEE;
}

header div.totop:hover {
	cursor: pointer;
	background-color: #DDD;
}

main {
	width: 100%;
	z-index: 1;
}

main div.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

main div.container h2 {
	font-size: 30px;
}

main div.container h2 span {
	padding-bottom: 5px;
}

/* 广告部分 */
main div.ad-part {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	margin-top: 75px;
	position: relative;
}

main div.ad-part h1 {
	color: #FFF;
	font-size: 50px;
	margin-bottom: 10px;
}

main div.ad-part span {
	color: #FFF;
	font-size: 30px;
}

main div.ad-part div.ad-bg1 {
	background: url('png/ad_bg2.jpg') center center no-repeat;
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main div.ad-part div.select-part {
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: center;
}

main div.ad-part div.select-part span.bg {
	display: inline-block;
	width: 40px;
	height: 5px;
	background-color: rgba(200, 200, 200, 0.7);
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

main div.ad-part div.select-part span.selected {
	background-color: rgba(200, 200, 200, 1);
}

/* 我们是谁 */
main div.whoarewe {
	background: url('png/whoarewe_bg.jpg') top right no-repeat;
	height: 450px;
}

main div.whoarewe h2 {
	padding-top: 40px;
	margin-bottom: 40px;
}

main div.whoarewe h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.whoarewe div.intro {
	width: 50%;
}

/* 我们的服务 */
main div.service {
	margin-left: 0;
	margin-right: 0;
	padding-top: 10px;
	padding-bottom: 50px;
	width: 100%;
	background: url('png/service_bg.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	color: #EEE;
}

main div.service h2 {
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
}

main div.service h2 span {
	border-bottom: 3px solid #EEE;
}

main div.service div.intro {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

main div.service div.feature {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main div.service div.feature div.item {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main div.service div.feature div.item div.img-container {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main div.service div.feature div.item div.img-container:hover {
	
}

main div.service div.feature div.item div.img-container img {
	width: 70px;
}

/* 我们的活动 */
main div.activity {
	margin-left: 0;
	margin-right: 0;
	padding-top: 50px;
	width: 100%;
}

main div.activity h2 {
	text-align: center;
	margin-bottom: 60px;
}

main div.activity h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.activity div.block {
	width: 100%px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}

main div.activity div.block h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

main div.activity div.block div {
	width: 24%;
	height: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFF;
	position: relative;
}

main div.activity div.block div:hover {
	cursor: pointer;
}


main div.activity div.block div#act1 {
	background: url('png/act_bg1.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	background-size: 100% 270px;
}

main div.activity div.block div#act2 {
	background: url('png/act_bg2.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	background-size: 100% 270px;
}

main div.activity div.block div#act3 {
	background: url('png/act_bg3.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	background-size: 100% 270px;
}

main div.activity div.block div#act4 {
	background: url('png/act_bg4.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	background-size: 100% 270px;
}

/* 我们的团队 */
main div.team {
	width: 1000px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

main div.team h2 {
	text-align: center;
	margin-bottom: 60px;
}

main div.team h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.team div.team-member {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

main div.team div.team-member div.member {
	width: 290px;
	height: 250px;
	background: url('png/team_member1.png') center center no-repeat;
	background-size: 300px 250px;
	position: relative;
}

main div.team div.team-member div#boweimin {
	background: url('png/team_member1.png') center center no-repeat;
	background-size: 300px 250px
}

main div.team div.team-member div.member p.intro {
	position: relative;
	top: 50px;
	left: -40px;
	font-size: 14px;
	font-weight: bold;
	width: 200px;
}

main div.team div.team-member div.member span.name {
	position: relative;
	top: 40px;
	left: -40px;
	font-size: 20px;
	font-weight: bold;
} 

main div.team div.team-member div.member span.prof {
	position: relative;
	top: 42px;
	left: -30px;
	font-size: 14px;
	font-weight: bold;
}

main div.team div.team-member div.member p.another {
	position: relative;
	top: 30px;
	left: -40px;
	font-size: 12px;
	width: 170px;
}

/* 链客研究院 */
main div.academy {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	color: #FFF;
	background: url('png/academy_bg.jpg') center center no-repeat;
	padding-top: 50px;
	padding-bottom: 50px;
}

main div.academy section {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

main div.academy h2 {
	margin-bottom: 20px;
}

main div.academy h2 span {
	border-bottom: 3px solid #FFF;
}

main div.academy div.msg {
	width: 500px;
}

main div.academy div.more {
	margin-top: 60px;
	margin-bottom: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #DDD;
	border-radius: 10px;
}

main div.academy div.more:hover {
	background-color: #FFF;
	color: #000;
	cursor: pointer;
}

/* 链客最新动态 */
main div.news {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

main div.news h2 {
	text-align: center;
	margin-bottom: 30px;
}

main div.news h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.news div.more {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #5c38b3;
	border-radius: 10px;
	text-align: center;
}

main div.news div.more:hover {
	cursor: pointer;
	background-color: #5c38b3;
	color: #FFF;
}

main div.news div.grid {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

main div.news div.grid div {
	padding-left: 2%;
	padding-right: 2%;
	width: 20%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
}

main div.news div.grid div:hover {
	cursor: pointer;
	background-color: #999;
}

main div.news div.grid div#news1 {
	background: url('png/news_bg1.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
}

main div.news div.grid div#news2 {
	background: url('png/news_bg2.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
}

main div.news div.grid div#news3 {
	background: url('png/news_bg3.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
}

main div.news div.grid div#news4 {
	background: url('png/news_bg4.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
}

/* 合作机构 */
main div.cooperation {
	margin-bottom: 60px;
}

main div.cooperation h2 {
	text-align: center;
	margin-bottom: 60px;
}

main div.cooperation h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.cooperation div.line {
	display: flex;
	justify-content: space-between;
}

main div.cooperation div.line div.container:first-child {
	border: 1px solid #DDD;
}

main div.cooperation div.line div.container {
	width: 200px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
	border: 1px solid #DDD;
	border-left: 0;
}

main div.cooperation div.line div.container div {
	width: 200px;
	height: 50px;
}

main div.cooperation div.line div.container div:hover {
	cursor: pointer;
}

main div.cooperation div.line div.container div#coop1 {
	background: url('/png/coop1.jpg') no-repeat bottom left;
}

main div.cooperation div.line div.container div#coop2 {
	background: url('/png/coop2.jpg') no-repeat bottom left;
}

main div.cooperation div.line div.container div#coop3 {
	background: url('/png/coop3.jpg') no-repeat bottom left;
	background-size: 200px 100px;
}

main div.cooperation div.line div.container div#coop4 {
	background: url('/png/coop4.jpg') no-repeat bottom left;
	background-size: 200px 100px;
}

main div.cooperation div.line div.container div#coop1:hover {
	background-position: 0 0;
}

main div.cooperation div.line div.container div#coop2:hover {
	background-position: 0 0;
}

main div.cooperation div.line div.container div#coop3:hover {
	background-position: 0 0;
} 

main div.cooperation div.line div.container div#coop4:hover {
	background-position: 0 0;
} 

footer {
	width: 100%;
	background-color: #000;
	color: #FFF;
	font-size: 14px;
	padding-top: 50px;
	padding-bottom: 60px;
}

footer div.container {
	position: relative;
}

footer div.footer-part {
	margin-top: 20px;
	margin-bottom: 20px;
}

footer div.contact-info p {
	margin-top: 5px;
	margin-bottom: 5px;
}

footer div.copyright span{
	margin-right: 10px;
}

footer div.copyright p {
	margin-top: 5px;
	margin-bottom: 5px;
}

footer div.joinus span {
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #FFF;
	border-radius: 15px;
	font-size: 20px;
}

footer div.joinus span:hover {
	background-color: #DDD;
	cursor: pointer;
	color: #000;
}

footer div.qrcode {
	position: absolute;
	top: 0;
	right: 0;
}

footer div.qrcode p {
	margin-top: 5px;
	font-size: 20px;
	text-align: center;
}


.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
/* 二级页面页首 */
main div.second-page-title {
	width: 100%;
	height: 700px;
	margin-top: 76px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFF;
} 

/* jobhunt */ 
main div.joinus {
	background: url('png/joinus_bg.jpg') top center no-repeat;
}

main div.joinus h2 {
	font-size: 50px;
	margin-bottom: 10px;
}

main div.joinus span {
	font-size: 20px;
}

main div.joinus-part {
	padding-top: 50px;
}

main div.joinus-part h2 {
	text-align: center;
	margin-bottom: 60px;
}

main div.joinus-part h2 span {
	border-bottom: 3px solid #333;
}

/* academy page */
main div.academy-page {
	background: url('png/academy_page_bg.jpg') top center no-repeat;
}

main div.academy-page h2 {
	font-size: 50px;
	margin-bottom: 10px;
}

main div.academy-page span {
	font-size: 20px;
	text-shadow: 0px 0px 2px #000;
}

main div.academy-content {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

main div.color-reverse {
	background-color: #EEEEEE;
}

main div.color-reverse h2 {
	text-align: right;
}

main div.color-reverse p {
	text-align: right;
}

main div.academy-content div.academy-research {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 60px;
}

main div.academy-content div.academy-research div.w60 {
	display: inline-block;
	width: 60%;
}

main div.academy-content div.academy-research div.w30 {
	display: inline-block;
	width: 30%;
}

main div.academy-content div.academy-research h2 {
	margin-bottom: 40px;
}

main div.academy-content div.academy-research h2 span{
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.academy-content div.academy-research p {
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

main div.academy-content div.academy-research img {
	width: 100%;
}

