body {
	margin: 0;
	font-family: Microsoft YaHei;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	width: 100%;
	background-color: #FFF;
	padding-top: 20px;
	padding-bottom: 10px;
	box-shadow: 0 0px 5px #AAA;
	float: left;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
}

header div.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

header div.header-icon-part {
	display: inline-block;
	width: 15%;
}

header img.header-icon {
	width: 150px;
}

header div.header-text-part {
	display: inline-block;
	padding-bottom: 10px;
	width: 80%;
	position: relative;
}

header ul {
	display: inline;
	list-style-type: none;
}

header ul li {
	display: inline;
	margin-right: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	cursor: pointer;
}

header ul li:hover {
	border-bottom: 3px solid #553eb8;
}


header div.pop-menu {
	border-radius: 10px;
	background-color: #FFF;
	box-shadow: 0px 1px 2px;
	padding-left: 20px;
	padding-right: 20px;
}

header div.pop-menu div.item {
	text-align: center;
	padding-bottom: 3px;
	margin-bottom: 10px;
	cursor: pointer;
}

header div.pop-menu div.item:hover {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
	margin-bottom: 7px;
}

header div.pop-menu div.from {
	border-bottom: 1px solid #EEE;
	padding-top: 5px;
	padding-bottom: 3px;
	margin-bottom: 6px;
	text-align: center;
}

header div#service-items {
	display: none;
	position: absolute;
	float: left;
	left: 112px;
	top: -5px;
}

header div#tech-items {
	display: none;
	position: absolute;
	float: left;
	left: 495.5px;
	top: -5px;
}

header div.lang-change {
	width: 5%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header div.lang-change div.lang {
	width: 33px;
	height: 30px;
	cursor: pointer;
}

header div.lang-change div.en {
	background: url('/png/lang.png') no-repeat -33px top;
	background-size: 200%;
}

header div.lang-change div.zh {
	background: url('/png/lang.png') no-repeat 0px top;
	background-size: 200%;
}

header div.totop {
	display: none;
	padding: 10px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	background-color: #EEE;
}

header div.totop:hover {
	cursor: pointer;
	background-color: #DDD;
}

main {
	width: 100%;
	z-index: 1;
}

main div.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

main div.container h2 {
	font-size: 30px;
}

main div.container h2 span {
	padding-bottom: 5px;
}

/* 广告部分 */
main div.ad-part {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	margin-top: 75px;
	position: relative;
}

main div.ad-part h1 {
	color: #FFF;
	font-size: 50px;
	margin-bottom: 10px;
}

main div.ad-part span {
	color: #FFF;
	font-size: 30px;
}

main div.ad-part div.ad-bg {
	width: 100%;
	height: 580px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main div.ad-part div.ad-bg#ad-bg1 {
	background: url('png/ad_bg1.jpg') top center no-repeat;
}

main div.ad-part div.ad-bg#ad-bg2 {
	background: url('png/ad_bg2.jpg') center center no-repeat;
}

main div.ad-part div.ad-bg#ad-bg3 {
	background: url('png/ad_bg3.jpg') center center no-repeat;
}

main div.ad-part div.select-part {
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: center;
}

main div.ad-part div.select-part span.bg {
	display: inline-block;
	width: 40px;
	height: 5px;
	background-color: rgba(200, 200, 200, 0.7);
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

main div.ad-part div.select-part span.selected {
	background-color: rgba(200, 200, 200, 1);
}

/* 我们是谁 */
main div.whoarewe {
	background: url('png/whoarewe_bg.png') top right no-repeat;
	background-size: 50%;
	height: 450px;
}

main div.whoarewe h2 {
	padding-top: 40px;
	margin-bottom: 40px;
}

main div.whoarewe h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.whoarewe div.intro {
	width: 50%;
}

/* 我们的服务 */
main div.service {
	margin-left: 0;
	margin-right: 0;
	padding-top: 10px;
	padding-bottom: 50px;
	width: 100%;
	background: url('png/service_bg.jpg') center center no-repeat;
	color: #EEE;
}

main div.service h2 {
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
}

main div.service h2 span {
	border-bottom: 3px solid #EEE;
}

main div.service div.intro {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	text-align: center;
}

main div.service div.feature {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main div.service div.feature div.item {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main div.service div.feature div.item div.img-container {
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main div.service div.feature div.item div.img-container#a {
	background: url('/png/service_icon1.png') no-repeat 0 5px;
}

main div.service div.feature div.item div.img-container#a:hover {
	background: url('/png/service_icon1.png') no-repeat -72px 5px;
}

main div.service div.feature div.item div.img-container#a:active {
	background: url('/png/service_icon1.png') no-repeat -144px 5px;
}

main div.service div.feature div.item div.img-container#b {
	background: url('/png/service_icon2.png') no-repeat 0 0;
}

main div.service div.feature div.item div.img-container#b:hover {
	background: url('/png/service_icon2.png') no-repeat -72px 0;
}

main div.service div.feature div.item div.img-container#b:active {
	background: url('/png/service_icon2.png') no-repeat -144px 0;
}


main div.service div.feature div.item div.img-container#c {
	background: url('/png/service_icon3.png') no-repeat 0 10px;
}

main div.service div.feature div.item div.img-container#c:hover {
	background: url('/png/service_icon3.png') no-repeat -72px 10px;
}

main div.service div.feature div.item div.img-container#c:active {
	background: url('/png/service_icon3.png') no-repeat -144px 10px;
}

main div.service div.feature div.item div.img-container#d {
	background: url('/png/service_icon4.png') no-repeat 0 0;
}

main div.service div.feature div.item div.img-container#d:hover {
	background: url('/png/service_icon4.png') no-repeat -72px 0;
}

main div.service div.feature div.item div.img-container#d:active {
	background: url('/png/service_icon4.png') no-repeat -144px 0;
}

main div.service div.feature div.item div.img-container:hover {
	cursor: pointer;
}

main div.service div.feature div.item div.img-container img {
	width: 70px;
}

/* 我们的活动 */
main div.activity {
	margin-left: 0;
	margin-right: 0;
	padding-top: 50px;
	width: 100%;
}

main div.activity h2 {
	text-align: center;
	margin-bottom: 60px;
}

main div.activity h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.activity div.block {
	width: 100%px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}

main div.activity div.block h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

main div.activity div.block div {
	width: 24%;
	height: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFF;
	position: relative;
}

main div.activity div.block div:hover {
	background-color: rgba(255, 255, 255, 1);
	background-blend-mode: normal;
}

main div.activity div.block div:hover h2 {
	display: none;
}

main div.activity div.block div:hover span {
	display: none;
}

main div.activity div.block div div.hidden {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.75);
}

main div.activity div.block div:hover div.hidden {
	display: flex;
	justify-content: center;
	align-items: center;
}

main div.activity div.block div img {
	width: 170px;
	height: 50px;
}

main div.activity div.block div#act1 {
	background: url('png/act_bg1.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	background-size: 100% 270px;
}

main div.activity div.block div#act2 {
	background: url('png/act_bg2.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	background-size: 100% 270px;
}

main div.activity div.block div#act3 {
	background: url('png/act_bg3.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	background-size: 100% 270px;
}

main div.activity div.block div#act4 {
	background: url('png/act_bg4.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	background-size: 100% 270px;
}

/* 我们的团队 */
main div.team {
	width: 1200px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

main div.team h2 {
	text-align: center;
	margin-bottom: 40px;
}

main div.team h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.team div.intro-more {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 151px;
}

main div.team div.team-member {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

main div.team div.team-member div.member {
	width: 350px;
	height: 250px;
	margin-left: 0px;
	margin-bottom: 20px;
	position: relative;
}

main div.team div.team-member div.specialist {
	width: 350px;
	height: 380px;
	margin-left: 0px;
	margin-bottom: 20px;
	position: relative;
}

main div.team div.team-member div.specialist p.intro {
	position: absolute;
	width: 230px;
	top: 235px;
	left: 65px;
	font-size: 12px;
}

main div.team div.team-member div.specialist p.intro span {
	font-size: 20px;
	font-weight: bold;
}

main div.team div.team-member div#boweimin {
	background: url('png/team_member1.png') center center no-repeat;
	background-size: 350px 250px;
}

main div.team div.team-member div#boweimin p.intro {
	text-align: left;
}

main div.team div.team-member div#wenshannan {
	background: url('png/team_member2.png') center center no-repeat;
	background-size: 350px 250px;
}

main div.team div.team-member div#yuchangjiang {
	background: url('png/team_member3.png') center center no-repeat;
	background-size: 350px 250px;
}

main div.team div.team-member div#guolu {
	background: url('png/team_member4.png') center center no-repeat;
	background-size: 350px 250px;
}

main div.team div.team-member div#chenboshu {
	background: url('png/team_member5.png') center center no-repeat;
	background-size: 350px 250px;
}

main div.team div.team-member div#chenboshu p.another {
	width: 150px;
}

main div.team div.team-member div#renqiang {
	background: url('png/team_member6.png') center center no-repeat;
	background-size: 350px 250px;
}

main div.team div.team-member div#renqiang p.another {
	width: 150px;
}

main div.team div.team-member div#xiayunni {
	background: url('png/team_specialist1.png') center center no-repeat;
	background-size: 250px;
}

main div.team div.team-member div#xuexiaofeng {
	background: url('png/team_specialist2.png') center center no-repeat;
	background-size: 250px;
}

main div.team div.team-member div#zhuyouping {
	background: url('png/team_specialist3.png') center center no-repeat;
	background-size: 250px;
}


main div.team div.team-member div.member span.name {
	position: relative;
	top: 50px;
	left: 80px;
	font-size: 20px;
	font-weight: bold;
} 

main div.team div.team-member div.member p.intro {
	position: relative;
	top: 40px;
	left: 10px;
	font-size: 14px;
	font-weight: bold;
	width: 175px;
	text-align: center;
}


main div.team div.team-member div.member span.prof {
	position: relative;
	top: 42px;
	left: 0px;
	font-size: 14px;
	font-weight: bold;
}

main div.team div.team-member div.member p.another {
	position: relative;
	top: 28px;
	left: 10px;
	font-size: 12px;
	width: 175px;
}

/* 链客研究院 */
main div.academy {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	color: #FFF;
	background: url('png/academy_bg.jpg') center center no-repeat;
	padding-top: 50px;
	padding-bottom: 50px;
}

main div.academy section {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

main div.academy h2 {
	margin-bottom: 20px;
}

main div.academy h2 span {
	border-bottom: 3px solid #FFF;
}

main div.academy div.msg {
	width: 500px;
}

main div.academy div.more {
	margin-top: 60px;
	margin-bottom: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #DDD;
	border-radius: 10px;
}

main div.academy div.more:hover {
	background-color: #FFF;
	color: #000;
	cursor: pointer;
}

/* 链客最新动态 */
main div.news {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

main div.news h2 {
	text-align: center;
	margin-bottom: 40px;
}

main div.news h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.news div.more {
	width: 153px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}

main div.news div.grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

main div.news div.grid div {
	padding-left: 2%;
	padding-right: 2%;
	width: 20%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	position: relative;
}

main div.news div.grid div div.background {
	display: none;
}

main div.news div.grid div:hover div.background {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	background: linear-gradient(90deg, rgba(42, 64, 121, 0.7), rgba(86, 38, 102, 0.7));
	z-index: 1;
}

main div.news div.grid div:hover span {
	z-index: 2;
}

main div.news div.grid div:hover {
	cursor: pointer;
	background-color: #999;
}

main div.news div.grid div#news1 {
	background: url('png/news_bg1.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
}

main div.news div.grid div#news2 {
	background: url('png/news_bg2.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
}

main div.news div.grid div#news3 {
	background: url('png/news_bg3.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
}

main div.news div.grid div#news4 {
	background: url('png/news_bg4.jpg') center center no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
}

/* 合作机构 */
main div.cooperation {
	margin-bottom: 60px;
}

main div.cooperation h2 {
	text-align: center;
	margin-bottom: 60px;
}

main div.cooperation h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.cooperation div.line {
	display: flex;
	justify-content: space-between;
}


main div.cooperation div.line div.container {
	width: 200px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
	border: 1px solid #DDD;
}

main div.cooperation div.line div.container div {
	width: 200px;
}

main div.cooperation div.line div.container div:hover {
	cursor: pointer;
}

main div.cooperation div.line div.container div#coop1 {
	background: url('/png/coop1.jpg') no-repeat bottom left;
	height: 67px;
}

main div.cooperation div.line div.container div#coop2 {
	background: url('/png/coop2.jpg') no-repeat bottom left;
	height: 67px;
}

main div.cooperation div.line div.container div#coop3 {
	background: url('/png/coop3.jpg') no-repeat bottom left;
	height: 56.5px;
}

main div.cooperation div.line div.container div#coop1:hover {
	background-position: 0 0;
}

main div.cooperation div.line div.container div#coop2:hover {
	background-position: 0 0;
}

main div.cooperation div.line div.container div#coop3:hover {
	background-position: 0 0;
} 

footer {
	width: 100%;
	background-color: #000;
	color: #FFF;
	font-size: 14px;
	padding-top: 50px;
	padding-bottom: 60px;
}

footer div.container {
	position: relative;
}

footer div.footer-part {
	margin-top: 20px;
	margin-bottom: 20px;
}

footer div.contact-info p {
	margin-top: 5px;
	margin-bottom: 5px;
}

footer div.copyright span{
	margin-right: 10px;
}

footer div.copyright p {
	margin-top: 5px;
	margin-bottom: 5px;
}

footer div.joinus span {
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #FFF;
	border-radius: 15px;
	font-size: 20px;
}

footer div.joinus span:hover {
	background-color: #DDD;
	cursor: pointer;
	color: #000;
}

footer div.qrcode {
	position: absolute;
	top: 0;
	right: 0;
}

footer div.qrcode p {
	margin-top: 5px;
	font-size: 20px;
	text-align: center;
}


.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
/* 二级页面页首 */
main div.second-page-title {
	width: 100%;
	height: 580px;
	margin-top: 76px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFF;
} 

/* jobhunt */ 
main div.joinus {
	background: url('png/joinus_bg.jpg') top center no-repeat;
}

main div.joinus h2 {
	font-size: 50px;
	margin-bottom: 10px;
}

main div.joinus span {
	font-size: 20px;
}

main div.joinus-part {
	padding-top: 50px;
	padding-bottom: 50px;
}

main div.joinus-part h2 {
	text-align: center;
	margin-bottom: 60px;
}

main div.joinus-part h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.joinus-part div.job-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

main div.joinus-part div.job-list div.job-item {
	width: 271px;
	color: #000;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #DDD;
}

main div.joinus-part div.job-list div.job-item:hover {
	background: linear-gradient(90deg, #365cd3, #7a1d9a);
	color: #FFF;
}
main div.joinus-part div.job-list div.job-item:hover button {
	color: #FFF;
	border: 1px solid #FFF;
}

main div.joinus-part div.job-list div.job-item h2 {
	font-size: 25px;
	text-align: left;
	margin: 0;
}

main div.joinus-part div.job-list div.job-item span {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

main div.joinus-part div.job-list div.job-item button:hover {
	cursor: pointer;
}

main div.joinus-part div.job-list div.job-item button {
	float: right;
	bottom: 0px;
	right: 0px;
	color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(90deg, #365cd3, #7a1d9a);
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	border: 1px solid #365cd3;
}

/* academy page */
main div.academy-page {
	background: url('png/academy_page_bg.jpg') top center no-repeat;
}

main div.academy-page h2 {
	font-size: 50px;
	margin-bottom: 10px;
}

main div.academy-page span {
	font-size: 20px;
	text-shadow: 0px 0px 2px #000;
	margin-top: 10px;
}

main div.academy-content {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

main div.color-reverse {
	background-color: #EEEEEE;
}

main div.color-reverse h2 {
	text-align: right;
}

main div.color-reverse p {
	text-align: right;
}

main div.academy-content div.academy-research {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 60px;
}

main div.academy-content div.academy-research div.w60 {
	display: inline-block;
	width: 60%;
}

main div.academy-content div.academy-research div.w30 {
	display: inline-block;
	width: 30%;
}

main div.academy-content div.academy-research h2 {
	margin-top: 0;
	margin-bottom: 40px;
}

main div.academy-content div.academy-research h2 span{
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.academy-content div.academy-research p {
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

main div.academy-content div.academy-research img {
	width: 100%;
}

/* team page */
main div.team-page {
	background: url('png/team_page_bg.jpg') top center no-repeat;
}

main div.team-page h2 {
	font-size: 50px;
	margin-bottom: 10px;
}

main div.team-page span {
	font-size: 20px;
	text-shadow: 0px 0px 2px #CCC;
}

main div.team-page-content {
	margin-top: 40px;
	margin-bottom: 40px;
}

main div.team-page-content div.team-member {
	box-shadow: 2px 3px 3px 3px #DDD;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 15px;
}

main div.team-page-content div.photo-part {
	margin: 15px;
	display: inline-block;
}

main div.team-page-content div.photo-part img {
	box-shadow: 1px 2px 2px 2px #DDD;
	width: 200px;
}

main div.team-page-content div.intro-part {
	margin: 25px;
	display: inline-block;
}

main div.team-page-content div.intro-part h2 {
	display: inline-block;
	margin-right: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

main div.team-page-content div.intro-part span {
	font-weight: bold;
}

main div.team-page-content div.intro-part p {
	margin: 0;
	line-height: 25px;
}

/* project 项目开发 */
main div.project-page {
	height: 580px;
	background-color: #5b3e4b;
}

main div.project-page h2 {
	font-size: 50px;
	margin-bottom: 10px;
}

main div.project-page span {
	font-size: 20px;
	text-shadow: 0px 0px 2px #CCC;
}

main div.project-page-content {
	margin-top: 60px;
	margin-bottom: 60px;
}

main div.project-page-content h2 {
	text-align: center;
	margin-bottom: 60px;
}

main div.project-page-content h2 span {
	border-bottom: 3px solid #333;
	border-image: linear-gradient(90deg, #365cd3, #7a1d9a) 30 30;
}

main div.project-page-content h3 {
	text-indent: 32px;
	font-size: 18px;
}

main div.project-page-content p {
	text-indent: 32px;
	font-size: 16px;
}

main div.project-page-content img {
	margin-left: 10%;
	margin-right: 10%;
	
	width: 80%;
}