<main>
<div class="container news">
	<% list.forEach(function (time) { %>
	<h1><%= time.date %></h1>
	<% time.posts.forEach (function (post) { %>
	<div class="news-intro">
		<h2><%= post.title %></h2>
		<p class="send-time"><%= post.post_time %></p>
		<% post.content.forEach(function (part) { %>
			<p class="main-body"><%= part %></p>
		<% }) %>
		<div class="button">
			<a href="<%= post.link %>"><button>查看详情 ►</button></a>
		</div>
		<img class="share-button" src="/png/share-button.png"/>
	</div>
	<% }) %>
	<% }) %>
</div>
</main>