<main>
<div class="container news">
	<% post.forEach(function (item) { %>
	<h1><%= item.update_time.toLocaleString().split(" ")[0] %></h1>
	<div class="news-intro">
		<h2><%= item.title %></h2>
		<p class="send-time"><%= item.update_time.toLocaleString() %></p>
		<% item.content.split("\r\n").forEach(function (part) { %>
			<p class="main-body"><%= part %></p>
		<% }) %>
		<div class="button">
			<a href="/techpost/news/<%= item.id %>"><button>查看详情 ►</button></a>
		</div>
		<img class="share-button" src="/png/share-button.png"/>
	</div>
	<% }) %>
</div>
</main>