<main>
<div class="second-page-title academy-page">
	<h2>链客研究院</h2>
	<span>业内一线权威专家倾情授课</span>
</div>
<div class="container academy-content">
	<div class="academy-research">
		<div class="w60">
			<h2>
				<span>人工智能研究院</span>
			</h2>
			<p>链客工场人工智能研究院是面向人工智能领域的科研转化实验室和人才培养基地。</p>
			<p>链客工程核心的人工智能区域：</p>
			<p>自动化机器学习平台、内容推荐引擎、商品识别、人体行为姿态识别、语者意图和情绪识别、人机对话系统……</p>
		</div>
		<div class="w30">
			<img src="/png/ai_research.png" />
		</div>
	</div>
</div>
<div class="container academy-content color-reverse">
	<div class="academy-research">
		<div class="w30">
			<img src="/png/blockchain.png" />
		</div>
		<div class="w60">
			<h2>
				<span>区块链</span>
			</h2>
			<p>链客工场人工智能研究院是面向人工智能领域的科研转化实验室和人才培养基地。</p>
			<p>链客工程核心的人工智能区域：</p>
			<p>自动化机器学习平台、内容推荐引擎、商品识别、人体行为姿态识别、语者意图和情绪识别、人机对话系统……</p>
		</div>
	</div>
</div>
<div class="container academy-content">
	<div class="academy-research">
		<div class="w60">
			<h2>
				<span>体育科技</span>
			</h2>
			<p>链客工场人工智能研究院是面向人工智能领域的科研转化实验室和人才培养基地。</p>
			<p>链客工程核心的人工智能区域：</p>
			<p>自动化机器学习平台、内容推荐引擎、商品识别、人体行为姿态识别、语者意图和情绪识别、人机对话系统……</p>
		</div>
		<div class="w30">
			<img src="/png/sports_tech.png" />
		</div>
	</div>
</div>
</main>