<main>
<div class="second-page-title academy-page">
	<h2>链客研究院</h2>
	<span>链客研究院由链客工场及其下属单位与国内外知名高校、研究机构联合成立的智库平台，</span>
	<span>研究领域涉及人工智能技术、区块链技术、体育科技等多领域。</span>
</div>
<div class="container academy-content">
	<div class="academy-research">
		<div class="w60">
			<h2>
				<span>人工智能研究中心</span>
			</h2>
			<p>链客工场人工智能研究中心是由链客工场发起，联合世界华人华侨社团联合会、海外华人科技组织联合会成立的科研交流平台，是面向人工智能领域的科研成果转化实验室。</p>
			<p>主要研究方向包括：</p>
			<p>自动化机器学习平台、内容推荐引擎、视频内容识别、人体行为姿态识别、语者意图和情绪识别、人机对话系统……</p>
		</div>
		<div class="w30">
			<img src="/png/ai_research.png" />
		</div>
	</div>
</div>
<div class="container academy-content color-reverse">
	<div class="academy-research">
		<div class="w30">
			<img src="/png/blockchain.png" />
		</div>
		<div class="w60">
			<h2>
				<span>区块链研究中心</span>
			</h2>
			<p>链客工场-重庆大学区块链研究中心是由链客工场与重庆大学联合成立的区块链技术研究中心，是中西部地区第一个有关区块链技术研究领域的校企研究机构。</p>
			<p>主要研究方向包括：</p>
			<p>区块链核心技术原理研究、区块链安全支撑技术研究、区块链共识算法研究、区块链分布式数据机构研究、区块链创新应用研究等。</p>
		</div>
	</div>
</div>
<div class="container academy-content">
	<div class="academy-research">
		<div class="w60">
			<h2>
				<span>足球科技研究中心</span>
			</h2>
			<p>该足球科技研究中心由链客工场下属公司探苗体育科技与国内某知名体育学院足球学院、强劲足球俱乐部等单位联合成立的研究机构，旨在推动中国足球产业科技化的发展。</p>
			<p>研究方向包括：</p>
			<p>赛事智能直播系统的开发、数字球探系统开发、运动员能力模型的数据采集、运动数据机构化研究、数字球员建模等。</p>
		</div>
		<div class="w30">
			<img src="/png/sports_tech.png" />
		</div>
	</div>
</div>
</main>