<main>
<div class="second-page-title project-page">
	<h2>区块风暴</h2>
</div>
<div class="container project-page-content">
	<p>人类的每一次进步都伴随着技术的突破，计算机及信息技术引领了上一次工业革命。</p>
	<p>区块链被誉为下一代价值互联网，是第四次工业革命的核心驱动力，其价值将百倍甚至千倍于现在的互联网。</p>
	<p>科技进步总会带动经济的增长，在经济全球化的今天，增长的新动力也必将来源于区块链。</p>
    <p>2018全球区块链技术应用与产业峰会于2018年7月1日—3日在中国改革开放窗口的深圳举办。</p>
	<p>本次峰会由链客工场、海外华人科技组织联合会、链客科技报道联合举办，FN资讯协办的2018年区块链未来峰会，大会邀请了全球科技及区块链领域的专家、学者、监管部门负责人、知名高校教授、投资机构、产业服务商出席本次峰会，围绕“区块链与未来网络”、“通证经济的未来”、“全球区块链产业投资地图”、“AI+BLOCKCHAIN定义新社会”等多个主题展开思想碰撞，此次大会取得圆满成功。</p>
	<div class="img-container">
		<img src="/png/block1.jpg" />
	</div>
	<div class="img-container">
		<img src="/png/block2.jpg" />
	</div>
</div>
</main>