<main>
<div class="second-page-title project-page">
	<h2>精品社群</h2>
</div>
<div class="container project-page-content">
	<p>社群是建立生态的基础，是布道区块链知识和传达社群共识的渠道。链客工场—精品社群系统通过线上社群和线下沙龙、峰会、课堂等活动的分享，为区块链求知者和投资人搭建学习和交流的平台。</p>
	<p>链客工场社群活动案例：</p>
	<div class="img-container">
		<img src="/png/community1.png" />
	</div>
	<p class="description">2018年4月15日，IEEE在深圳举办区块链国际标准化圆桌会议</p>
	<div class="img-container">
		<img src="/png/community2.jpg" />
	</div>
	<p class="description">2018年5月25日，北京大学深圳研究院大型沙龙《区块链发展趋势与场景应用》</p>
	<div class="img-container">
		<img src="/png/community3.jpg" />
	</div>
	<p class="description">2018年5月26日，万科集团下属科技公司--万翼科技区块链沙龙活动</p>
	<div class="img-container">
		<img src="/png/community4.png" />
	</div>
	<p class="description">2018年8月25日，中央财经大学《金融大开讲》区块链主题分享现场</p>

	<p>精品社群系统汇聚海内外高新技术行业科学家，联合各大知名高校教授、行业专家、学者、区块链企业家、创业者，定期为社群成员举办知识分享沙龙活动，活动内容包括区块链、人工智能及大数据等前沿学科知识的分享，全球最新产业动态、政策梳理、应用状况等，促进行业发展，筑建新知识生态的共识基础。</p>
	<div class="img-container">
		<img style="width: 60%; margin-left: 20%; margin-right: 20%;" src="/png/community5.jpg" />
	</div>
	<p class="description">精品社群系统结构</p>
	<p>菁鹏汇，顾名思义，代表着“知识、精英、飞跃、汇聚”，意指汇聚精英，交流知识，同步飞跃。是一个以高端人群为主的知识交流和投资交流的平台。菁鹏汇着力为社群成员打造一个集学习，高端社交，资源共享的开放式社区平台，期待您的加入。</p>
	<div class="img-container">
		<img src="/png/community6.png" />
	</div>
	<p class="description">高端社群品牌——菁鹏汇</p>
</div>
</main>