<main>
<div class="second-page-title project-page">
	<h2>精品社群</h2>
</div>
<div class="container project-page-content">
	<h2>
		<span>菁鹏汇（社群）</span>
	</h2>
	<p>链客工场-菁鹏汇精品社群组织</p>
	<div class="img-container">
		<img style="width: 60%; margin-left: 20%; margin-right: 20%;" src="/png/community1.jpg" />
	</div>
	<h2>
		<span>营销策划</span>
	</h2>
	<p>链客科技报道拥有多个区块链营销公关的服务项目，涉及区块链项目营销、创意设计、财经资讯等，致⼒于成为营销领域的区块链媒体机构。主要业务包含：1、内容营销，2、海内外媒体发稿， 3、社群运营服务（微信+telegram社群运营），4、峰会路演，5、危机公关与舆情监督。</p>
	<div class="img-container">
		<img src="/png/community2.png" />
	</div>
	<div class="img-container">
		<img src="/png/community3.png" />
	</div>
</div>
</main>