<main>
<div class="second-page-title project-page">
	<h2>北京大学区块链总裁班（培训）</h2>
</div>
<div class="container project-page-content">
	<p>区块链，这个被誉为“未来人类信任的基石”的技术，以迅雷不及掩耳之势占据了2018年第一个风口，从普通人到创业者、到投资人、到学者、再到明星大佬，无不在不眠不休的关注和讨论。</p>
	<p>近年来，区块链已成为联合国、国际货币基金组织等国际组织及众多国家研究的热点，我国政府发布的《“十三五”国家信息化规划》、《软件和信息技术服务业发展规划（2016－2020年）》等政策文件明确提出推动区块链技术、应用和产业的发展。业内人士预测，区块链很有可能是人类历史上继蒸汽机、电力和互联网技术后的第四次产业革命新引擎。</p>
	<p>而在今年“两会”间，马化腾、李彦宏、周鸿祎、丁磊等互联网大佬对区块链产业均发表了积极的看法，引起国内外一片轰动。另一面，国内越来越多城市纷纷开建区块链产业园区，抢占产业浪潮先机，如杭州、重庆、广州、上海、贵阳、青岛等。一场轰轰烈烈的区块链产业革命浪潮来袭。</p>
    <p>然而，热闹之上泡沫初现。与资本、真假项目蜂拥而上形成强烈反差的是，真正的产业人才少之又少，企业家的认知层面仍有待提升。为此，北京大学深圳研究院联合国内外知名产业专家、教授、服务机构等，本着“正本清源 · 学以致用”的办学方针，在师资筛选、课程设计、产业资源支持等方面，为产业参与者与未来的产业人提供最有价值培训服务。</p>
	<div class="img-container">
		<img src="/png/train2.jpg" />
	</div>
	<div class="img-container">
		<img src="/png/train3.png" />
	</div>
	<p>《北京大学区块链总裁班》的培训对象为企业家、企业总裁、首席执行官、职业经理等。通过系统的知识梳理和案例分析，使学员从宏观上理解和掌握区块链技术的知识要点，理解区块链技术逻辑与产业逻辑的相关性，从框架上理解“区块链是什么”、“为什么可以用区块链解决痛点”、“如何用区块链技术开发系统”等“3w”（what、why、how）的问题，解决学员从0到1的认知问题。学员完成学业后，将获得课程协办方链客工场的产业资源支持，紧扣“学以致用”，解决学员从1到N的区块链创业与项目方案解决的问题。</p>
	<div class="img-container">
		<img src="/png/train4.jpg" />
	</div>
</div>
</main>