<footer>
	<div class="container">
		<h3>联系我们</h3>
		<div class="contact-info footer-part">
			<p>Email: contact@linker.top</p>
			<p>电话: 18570262531</p>
			<p>地址: 深圳市宝安区洲石路深业U中心C栋207</p>
		</div>
		<div class="copyright footer-part">
			<span>深圳八方人网络科技有限公司.链客工场</span>
			<span>Copyright &copy; 2018. All Right Reserved.</span>
			<p>粤ICP备13052285号-10</p>
		</div>
		<div class="joinus">
			<a href="/jobs/list"><span>加入我们</span></a>
		</div>
		<div class="qrcode">
			<img src="/png/qrcode.jpg" />
			<p>关 注 我 们</p>
		</div>
	</div>
</footer>