<header>
	<div class="container">
		<div class="header-icon-part">
			<img class="header-icon" alt="链客科技报道" src="/png/header-icon.png"/>
		</div>
		<div class="header-text-part">
			<ul>
				<a href="/#"><li>首页</li></a>
				<li id="service">服务▼</li>
				<a href="/#activity"><li>活动</li></a>
				<a href="/#team"><li>团队</li></a>
				<a href="/#academy"><li>研究院</li></a>
				<li id="tech">科技报道▼</li>
			</ul>
			<div id="service-items" class="pop-menu">
				<a href="/#service-ancher"><div class="from">服务▲</div></a>
				<div class="item">项目开发</div>
				<div class="item">投资孵化</div>
				<div class="item">链客学院</div>
				<div class="item">媒体报道</div>
			</div>
			<div id="tech-items" class="pop-menu">
				<div class="from">科技报道▲</div>
				<div class="item">快讯</div>
				<div class="item">专题</div>
				<div class="item">活动</div>
			</div>
		</div>
		<div class="another-link">
			<img class="lang-change" src="/png/lang.png" />
		</div>
		<div class="totop" id="totop">
			<img src="/png/totop.png" />
		</div>
	</div>
</header>