<div id="activity" name="activity" class="container activity">
	<h2>
		<span>我们的活动</span>
	</h2>
	<div class="block">
		<div id="act1">
			<h2>高端培训</h2>
			<span>北京大学区块链总裁班</span>
			<div class="hidden">
				<a href="/activity/train"><img src="/png/viewit.png"></a>
			</div>
		</div>
		<div id="act2">
			<h2>精品社群</h2>
			<span>菁鹏汇 创投俱乐部</span>
			<div class="hidden">
				<a href="/activity/community"><img src="/png/viewit.png"></a>
			</div>
		</div>
		<div id="act3">
			<h2>品牌公关</h2>
			<span>媒体报道 营销策划</span>
			<div class="hidden">
				<a href="/activity/brand"><img src="/png/viewit.png"></a>
			</div>
		</div>
		<div id="act4">
			<h2>区块风暴</h2>
			<span>区块峰会 项目大赛</span>
			<div class="hidden">
				<a href="/activity/block"><img src="/png/viewit.png"></a>
			</div>
		</div>
	</div>
</div>
<script src="/js/activity.js"></script>