<div id="team" name="team" class="container team">
	<h2>
		<span>我们的团队</span>
	</h2>
	<div class="intro-more">
		<a href="/team">
			<img src="/png/intro_more.png" />
		</a>
	</div>
	<div class="team-member">
		<div id="boweimin" class="member">
			<span class="name">卜伟民</span>
			<p class="intro">创始人兼CEO，BoleSport基金会发起人</p>
			<p class="another">互联网持续创业者；八方人科技创始人，曾主导开发与运营多款互联网产品。多机型航空整机工程师。区块链生态早期研究者，参与和投资众多区块链优质项目。</p>
		</div>
		<div id="wenshannan" class="member">
			<span class="name">温善楠</span>
			<p class="intro">联合创始人兼COO</p>
			<p class="another">毕业于美国华盛顿大学，法国里昂idrac商学院MBA在读。曾供职于Scandia Pacific LLC、香港实得金融集团，任区域经理、联席董事，现任世界华侨华人社团联合会副理事长、海外华人科技组织联合会常务秘书长。</p>
		</div>
		<div id="yuchangjiang" class="member">
			<span class="name">余长江</span>
			<p class="intro">联合创始人兼CTO</p>
			<p class="another">毕业于北京大学，高级工程师。曾就职于微软、法国电信、中国五矿等多家500强企业，曾在国家重点实验室参研多项 “863”，“973”国家科技支撑重点项目。有10年以上高可信分布式计算研究经验。</p>
		</div>
		<div id="guolu" class="member">
			<span class="name">郭璐</span>
			<p class="intro">联合创始人兼链客传媒CEO</p>
			<p class="another">毕业于英国卡迪夫大学国际新闻专业，硕士研究生。曾供职于Financial Times，新华社和21世纪经济报道。具有独特的视角和报道风格，以及拥有丰富的媒体资源及创投圈资源。擅长媒体公关、项目策划、项目营销等。</p>
		</div>
		<div id="chenboshu" class="member">
			<span class="name">陈伯书</span>
			<p class="intro">财务总监CFO</p>
			<p class="another">毕业于比利时列日大学，硕士研究生，美国注册管理会计师。深圳正通供应链、晨星股权私募基金联合创始人，长项目估价、风险管理、战略规划等。</p>
		</div>
		<div id="renqiang" class="member">
			<span class="name">任强</span>
			<p class="intro">首席安全架构师</p>
			<p class="another">毕业于空军雷达学院计算机专业，硕士研究生，高级工程师，原空军某部密码学专家。长期从事军用密码学理论及信息系统安全体系技术研究；对数字加密货币安全体系有较深的研究。</p>
		</div>
		<div id="xiayunni" class="specialist">
			<p class="position five">首席科学家</p>
			<p class="intro"><span>夏云霓</span>，毕业于北京大学，博士后，重庆大学教授，博士生导师。IEEE高级会员，IEEE期刊直接审稿人。分布式可信计算领域专家，国际服务学会中国青年科学家论坛副主席，中国自动化学会网络服务专委会/中国计算机学会分布式计算与系统专委会委员，中国计算学会分布式计算……</p>
		</div>
		<div id="xuexiaofeng" class="specialist">
			<p class="position four">首席顾问</p>
			<p class="intro"><span>薛晓峰</span>，美国硅谷中国工程师协会会长；海外华人科技组织联合会常务副会长；美国硅谷Advantronic Tech, Inc公司创始人与CTO；曾获多项技术的国家专利。获中国国家科委科技进步一等奖一项，二等奖一项；中国科学院科技进步一等奖；中国科学院电子学研究所科技……</p>
		</div>
		<div id="zhuyouping" class="specialist">
			<p class="position four">高级顾问</p>
			<p class="intro"><span>朱幼平</span>，国家信息中心区块链经济学者。1987年毕业于北京大学，硕士学历。国家信息中心中经网管理中心副主任、党总支部副书记；中国区块链生态联盟（工信部）专家委员会成员；国家北斗数据中心办公室专家；亚洲区块链产业研究院荣誉董事兼首席前瞻性官……</p>
		</div>
	</div>
</div>