<div id="service-ancher" name="service-ancher" class="container service">
	<h2>
		<span>我们的服务</span>
	</h2>
	<div class="intro">
		<span>整合资本的“血液”、学院的“骨骼”、社群的“肌体”和媒介的“脉络”，致力成为区块链产业服务的知名品牌，成为价值互联网时代的重要驱动力。</span>
	</div>
	<div class="feature">
		<div class="item">
			<a href="/service/project">
				<div id="a" class="img-container"></div>
			</a>
			<h3>项目开发</h3>
			<span>传播行业资讯 / 挖掘产业优质资源</span>
			<span>区块链独角兽报道 / 区块链风云榜</span>
		</div>
		<div class="item">
			<a href="/service/promotion">
				<div id="b" class="img-container"></div>
			</a>
			<h3>投资孵化</h3>
			<span>总裁班高端培训 / 专业技术培训</span>
			<span>知识普及教育 / 行业精品知识</span>
		</div>
		<div class="item">
			<a href="/service/train">
				<div id="c" class="img-container"></div>
			</a>
			<h3>高端培训</h3>
			<span>链客创投圈 / 链客峰会</span>
			<span>线上社群 / 线下沙龙</span>
		</div>
		<div class="item">
			<a href="/service/media">
				<div id="d" class="img-container"></div>
			</a>
			<h3>媒体报道</h3>
			<span>项目评测 / 融资咨询</span>
			<span>投资咨询 / 产业园区咨询</span>
		</div>
	</div>
</div>