<div id="service-ancher" name="service-ancher" class="container service">
	<h2>
		<span>我们的服务</span>
	</h2>
	<div class="intro">
		<span>链客工场以项目开发与运营、社区生态建设为中心，致力于成为区块链产业服务的知名品牌，成为价值互联网时代的重要推动力。</span>
	</div>
	<div class="feature">
		<div class="item">
			<a href="/service/project">
				<div id="a" class="img-container"></div>
			</a>
			<h3>技术开发</h3>
			<span>项目开发 / 项目运营</span>
		</div>
		<div class="item">
			<a href="/service/promotion">
				<div id="b" class="img-container"></div>
			</a>
			<h3>投资孵化</h3>
			<span>项目投资 / 项目咨询</span>
		</div>
		<div class="item">
			<a href="/service/train">
				<div id="c" class="img-container"></div>
			</a>
			<h3>链客学院</h3>
			<span>高端培训 / 链知社</span>
		</div>
		<div class="item">
			<a href="/service/media">
				<div id="d" class="img-container"></div>
			</a>
			<h3>媒体公关</h3>
			<span>媒体报道 / 公关策划</span>
		</div>
	</div>
</div>