<div id="team" name="team" class="container team">
	<h2>
		<span>我们的团队</span>
	</h2>
	<div class="intro-more">
		<a href="/team">
			<img src="/png/intro_more.png" />
		</a>
	</div>
	<div class="team-member">
		<div id="boweimin" class="member">
			<p class="intro">“八方科技、链客工场创始人，互联网持续创业者，10年创业经历。”</p>
			<span class="name">卜伟民</span><span class="prof">创始人</span>
			<p class="another">八方科技、链客工场创始人，互联网持续创业者，10年创业经历。</p>
		</div>
		<div id="boweimin" class="member">
			<p class="intro">“八方科技、链客工场创始人，互联网持续创业者，10年创业经历。”</p>
			<span class="name">卜伟民</span><span class="prof">创始人</span>
			<p class="another">八方科技、链客工场创始人，互联网持续创业者，10年创业经历。</p>
		</div>
		<div id="boweimin" class="member">
			<p class="intro">“八方科技、链客工场创始人，互联网持续创业者，10年创业经历。”</p>
			<span class="name">卜伟民</span><span class="prof">创始人</span>
			<p class="another">八方科技、链客工场创始人，互联网持续创业者，10年创业经历。</p>
		</div>
		<div id="boweimin" class="member">
			<p class="intro">“八方科技、链客工场创始人，互联网持续创业者，10年创业经历。”</p>
			<span class="name">卜伟民</span><span class="prof">创始人</span>
			<p class="another">八方科技、链客工场创始人，互联网持续创业者，10年创业经历。</p>
		</div>
		<div id="boweimin" class="member">
			<p class="intro">“八方科技、链客工场创始人，互联网持续创业者，10年创业经历。”</p>
			<span class="name">卜伟民</span><span class="prof">创始人</span>
			<p class="another">八方科技、链客工场创始人，互联网持续创业者，10年创业经历。</p>
		</div>
		<div id="boweimin" class="member">
			<p class="intro">“八方科技、链客工场创始人，互联网持续创业者，10年创业经历。”</p>
			<span class="name">卜伟民</span><span class="prof">创始人</span>
			<p class="another">八方科技、链客工场创始人，互联网持续创业者，10年创业经历。</p>
		</div>
		<div id="boweimin" class="member">
			<p class="intro">“八方科技、链客工场创始人，互联网持续创业者，10年创业经历。”</p>
			<span class="name">卜伟民</span><span class="prof">创始人</span>
			<p class="another">八方科技、链客工场创始人，互联网持续创业者，10年创业经历。</p>
		</div>
		<div id="boweimin" class="member">
			<p class="intro">“八方科技、链客工场创始人，互联网持续创业者，10年创业经历。”</p>
			<span class="name">卜伟民</span><span class="prof">创始人</span>
			<p class="another">八方科技、链客工场创始人，互联网持续创业者，10年创业经历。</p>
		</div>
		<div id="boweimin" class="member">
			<p class="intro">“八方科技、链客工场创始人，互联网持续创业者，10年创业经历。”</p>
			<span class="name">卜伟民</span><span class="prof">创始人</span>
			<p class="another">八方科技、链客工场创始人，互联网持续创业者，10年创业经历。</p>
		</div>
	</div>
</div>