<main>
<div class="second-page-title project-page">
	<h2>投资孵化</h2>
</div>
<div class="container project-page-content">
	<p>链客工场发挥自身的技术和资源优势，对潜力项目提供孵化器+投资的服务，具体包括：</p>
	<p>1、专业技术服务。包括基于区块链技术的项目解决方案的设计，技术人才的供给、国内外技术交流、项目运营后续技术支持、设立联合研发机构等。</p>
	<p>2、融资服务。包括融资方案的设计，协助引进战略合作者，协助获取天使投资或风险投资等</p>
    <p>3、管理优化等服务。包括协助制定发展战略规划、改进日常管理制度、法律服务等</p>
	<p>对于优秀的项目或企业，链客工场会作为天使投资人前期介入，借力链客工场在技术、海内外市场上的优势，帮助企业创业成功。截止目前，链客工场已经投资孵化的项目有：</p>
	<p>1、青少年足球训练资源共享平台。该系统将国内外青少年足球运动产生的视频图像、穿戴式设备等产生的数据信息，运用区块链、人工智能等技术，聚合成一个供各方参与者交流、使用的分布式平台。</p>
	<div class="img-container">
		<img src="/png/promotion1.jpg" />
	</div>
</div>
</main>