<main>
<div class="second-page-title project-page">
	<h2>项目开发</h2>
</div>
<div class="container project-page-content">
	<h2>
		<span>BoleSport体育青训价值链</span>
	</h2>
	<p>BoleSport体育青训价值链将构建在体育青训各细分领域和方向上应用区块链技术和AI人工智能技术的基础性数字设施和价值框架，建立基于代币系统的底层生态价值激励机制，为生态伙伴提供兼容性第三方软硬件协议接口，打造让各方受益的体育青训生态系统，构筑全新的全球性青训资源共享网络。</p>
	<p>BoleSport体育青训价值链为生态系统提供公共基础设施和开放性的可调用模块，包括“数字运动员”价值模型、运动员价值评估指数、统一的API数据接口协议，以及交易智能合约、分账智能合约和众筹智能合约。</p>
	<div class="img-container">
		<img src="/png/project1.jpg" />
	</div>
	<h2>
		<span>QBOLE足球青训平台</span>
	</h2>
	<p>Qbole足球青训平台是全球性的足球青训资源共享平台，通过构建基于区块链技术与Token激励模型的价值交互体系，实现全球优质足球青训资源的数字化，行为资产化和流程合约化，实现体系内各方利益的价值最大化。</p>
    <p>通过数字化资产的拆分、众筹或投资，激活服务于足球青训的市场机制，有效利用资本市场和青训资源市场，实现足球青训产业的快速发展。</p>
	<div class="img-container">
		<img src="/png/project2.png" />
	</div>
	<h2>
		<span>赛事自动直播与数据分析系统</span>
	</h2>
	<h3>基于AI技术的多相机拼接画面</h3>
	<p>基于AI技术，通过对民用相机的多镜头拼接，形成超广角画面。通过AI算法实现对球员、球员与足球、足球运动轨迹等关系的自动跟随，达到“傻瓜式”的一键启动、自动直播的准专业化效果。</p>
	<h3>基于AI技术的视频内容识别与分析</h3>
	<p>在多镜头拼接的直播画面基础上，系统将基于AI人工智能技术对画面内容进行抓取与分析。根据足球运动与运动员的技战术数学模型，对运动员的运动能力和球队战术打法进行对比和分析，实现多种数据的自动采集、能力分析，以及球队技战术的数字化分析，如球员爆发力、射门、助攻、传球、跑动距离等多种技术统计模型，球队的阵法变化、球场上不同位置的动态数据流等。</p>
	<h3>该系统采购费用低、操作简单、直播效果佳。</h3>
	<p>适用于广大校园足球和业余足球赛事，对传播足球赛事和足球文化起到至关重要的作用。</p>
	<div class="img-container">
		<img src="/png/project3.png" />
	</div>
</div>
</main>