<main>
<div class="second-page-title project-page">
	<h2>媒体报道</h2>
	<span>业内一线权威专家倾情授课</span>
</div>
<div class="container project-page-content">
	<h2>
		<span>项目介绍</span>
	</h2>
	<p>一、基本介绍</p>
	<p>提供“科技金融资产交易+科技贷款相关业务+技术转移服务”等在各项垂直领域内的科技金融服务，推进科技企业的“技术交易+技术转移”，并形成特有的、高效的合作盈利机制，为科技类企业的技术指导、金融服务建设一站式的综合服务平台。</p>
	<p>二、业务及商业模式</p>
    <p>按照落实《率先行动计划》，发挥国科创新的技术、产业、投融资领域的投资人资源及项目源优势，分步进行科技金融系列服务。</p>
	<p>科技金融服务集金融产品、金融服务、信息服务等综合性科技金融服务于一体，针对全国科技型中小企业不同发展阶段的融资需求和融资条件，以科技金融中心为引导，发挥科技综合服务优势，结合自身的科技金融资产交易、科技贷款相关业务、科技创新基金等服务，整合银行、担保、保险和创投等资源，为我国科技型中小企业提供一站式、个性化的融资服务为基本目标，以实现科学技术、金融服务和中小企业的“三位一体”，科技、金融两者资源共享为最终目标的综合性服务中心。</p>
	<p>（一）科技金融资产交易</p>
	<p>通过设立科技金融资产交易中心，能够更好地服务大量具有优质资产的资产方，为他们提供更多有效且低成本的资产转让渠道，满足资产方对于快速、低成本资产证券化和资产出表的需求；同时针对广大用户对安全且多样化选择的理财产品的需求，服务好服务风险偏好中等偏低，为用户群，搭建高效、便捷、专业的资产与资金的对接平台。</p>
	<p>拟结合项目流量优势，基于风险控制技术的资产风险识别能力，和金融资产交易中心在寻找、甄选、吸引金融资产上的能力，打造创新型金融交易中心。</p>
	<p>其核心业务模式包括：吸引优质资产，产品设计，LP份额转让，挂牌交易，资产销售几个部分，除此之外，还有传统资产交易中心具备的登记托管、融资等职能。</p>
</div>
</main>