<main>
<div class="second-page-title team-page">
	<h2>我们的团队</h2>
	<span>业内一线权威专家倾情授课</span>
</div>
<div class="container team-page-content">
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member1.jpg" />
		</div>
		<div class="intro-part">
			<h2>卜伟民</h2>
			<span>创始人兼CEO， BoleSport基金会发起人</span>
			<p>互联网早期创业者，曾任深圳鼎言科技UI设计师、总编辑。 曾在国内唯一大型通用航空上市公司中信海洋直升机公司担任多机型整机工程师。</p> 
			<p>互联网持续创业者，八方人科技创始人，曾主导开发与运营多款互联网产品。</p>
			<p>区块链产业生态早期研究者，参与和投资众多区块链优质项目，涉及交易平台、产业基金、国内外优质项目等。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member2.jpg" />
		</div>
		<div class="intro-part">
			<h2>余长江</h2>
			<span>联合创始人兼CTO</span>
			<p>毕业于北京大学，高级工程师。曾就职于微软、法国电信、中国五矿等多家500强企业，曾在国家重点实验室参研多项”863”、”973”国家科技支撑重点项目。有10年以上高可信分布式计算研究和工程实践经验，资深区块链技术架构专家。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member3.jpg" />
		</div>
		<div class="intro-part">
			<h2>温善楠</h2>
			<span>联合创始人兼COO</span>
			<p>毕业于美国华盛顿大学，法国里昂idrac商学院工商管理硕士MBA在读。曾供职于Scandia Pacific LLC、香港实得金融集团，任区域经理、联席董事，现任世界华侨华人社团联合会副理事长、海外华人科技组织联合会常务副秘书长、链客工场合伙人，侨英汇CEO。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member4.jpg" />
		</div>
		<div class="intro-part">
			<h2>郭璐</h2>
			<span>联合创始人兼链客传媒CEO</span>
			<p>毕业于英国卡迪夫大学国际新闻专业，硕士研究生。曾供职于Financial Times，新华社和21世纪经济报道。具有独特的视角和报道风格，以及拥有丰富的媒体资源及创投圈资源。擅长媒体公关、项目策划、项目营销等。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member5.jpg" />
		</div>
		<div class="intro-part">
			<h2>陈伯书</h2>
			<span>财务总监CFO</span>
			<p>毕业于比利时列日大学，硕士研究生，美国注册管理会计师。深圳正通供应链、晨星股权私募基金联合创始人，长项目估价、风险管理、战略规划等。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member6.jpg" />
		</div>
		<div class="intro-part">
			<h2>任强</h2>
			<span>首席安全架构师</span>
			<p>毕业于空军雷达学院计算机科学与技术专业，硕士研究生，高级工程师，原空军某部密码学专家。长期从事军用密码学理论及信息系统安全体系技术研究，曾参与多个军队重大信息系统设计与建设，担任系统安全架构师。对数字加密货币安全体系有深入研究。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member7.jpg" />
		</div>
		<div class="intro-part">
			<h2>温麒谚</h2>
			<span>链客传媒合伙人</span>
			<p>移动互联网产品专家，前超级课程表合伙人，曾供职于DJI互联网事业部统筹企业项目互联网化工作，拥有千万级产品从零到壹的成功经验。在事件公关、事件营销、产品运营等多领域拥有丰富的实战经验。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member8.jpg" />
		</div>
		<div class="intro-part">
			<h2>卜文标</h2>
			<span>项目运营合伙人</span>
			<p>国内知名足球青训俱乐部——深圳大荣强劲足球俱乐部副董事长，强劲足球俱乐部总经理，十二年教育培训创业经验，资深体育产业人，拥有丰富的“教育+体育”创业成功经验和庞大的国内外足球产业资源。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member9.jpg" />
		</div>
		<div class="intro-part">
			<h2>王馨芝</h2>
			<span>社群运营经理</span>
			<p>九创家居商学院联合创始人，曾留学于韩国启明大学。毕业后从事活动策划于执行工作多年。从前期的信息收集、方案撰写、到后期的活动落地执行，全程参与策划并执行大型峰会数十场，有着丰富的舞台及幕后工作经验。并多次在活动中担任主持人，擅长营销活动以及会议营销主持。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member10.jpg" />
		</div>
		<div class="intro-part">
			<h2>杨扬笛</h2>
			<span>开发组负责人</span>
			<p>毕业于中国科学院国家空间科学中心，硕士研究生。在读期间主要研究分布式系统在卫星工程数据的处理和储存方面的应用。曾从事音视频工程师工作，对视频编解码、分布式存储以及视频处理有深入的研究。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member11.jpg" />
		</div>
		<div class="intro-part">
			<h2>夏云霓</h2>
			<span>链客工场首席科学家</span>
			<p>毕业于北京大学，理学博士，博士后，重庆大学教授，博士生导师。IEEE Transactions on SMC、IEEE Transaction on ASE、Scientific Programming等著名国际期刊的直接审稿人。分布式可信计算领域专家，国际服务学会中国青年科学家论坛副主席，中国自动化学会网络服务专委会/中国计算机学会服务计算专委会/中国计算机学会分布式计算与系统专委会委员，中国计算机学会软件工程专委会通信委员。 </p>
			<p>曾师从于中国最早进行Petri网研究的著名学者，北京大学袁崇义教授。曾参与北京大学梅宏院士主持的973项目“基于知识的网构软件需求建模理论和方法研究”、863项目“基于正确性验证的web服务可信性研究”。曾获北京大学信息科学技术学院“学术十杰”奖，北京大学“学术精英”奖，重庆市“创新青年科技人才”称号等。 </p>
			<p>在IEEE TRANSACTION期刊发表文章6篇，可被SCI检索的其他期刊文章35篇； CCF推荐国际会议论文8篇，均为信息与计算机科学的知名国际期刊。连续两次受到国家自然科学基金项目的支持。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member12.jpg" />
		</div>
		<div class="intro-part">
			<h2>薛晓峰</h2>
			<span>首席顾问</span>
			<p>美国硅谷中国工程师协会会长；海外华人科技组织联合会常务副会长</p>
			<p>现为美国硅谷 Advantronics Tech，Inc 公司的创始人与技术总监(CTO)，高级工程师。从事临床医疗电子学研究，创新性心脑血管疾病的临床诊断与治疗电子设备的研发工作。 在国内时曾就职于中国科学院电子学研究所，高级工程师，从事电子信息科学研究工作十余年。</p> 
			<p>多年从事临床医疗电子学的研究，和临床诊断与治疗医疗电子设备的研发工作。在微创介入式心血管疾病的临床诊断和治疗方面，正在进行X光图像和B超影像的研究与数字图像处理设备的研发工作，以及图像导航病灶定位的临床研究及其设备的研发工作。在临床外科方面在大量微创手术的临床研究的基础之上，正在研发新一代临床外科微创手术机器人。 </p>
			<p>在无线通讯方面许多年来主要从事的数字通讯的研究与数字通信设备的研发，成像雷达的研究与雷达设备的研发工作。   曾获得多项技术的国家专利。在多个学术会议上发表多篇学术论文。 获奖： </p>
			<p>中国国家科委科技进步一等奖一项，二等奖一项</p>
			<p>中国科学院科技进步一等奖</p>
			<p>中国科学院电子学研究所科技进步一等奖</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member13.jpg" />
		</div>
		<div class="intro-part">
			<h2>朱幼平</h2>
			<span>高级顾问</span>
			<p>1987年以经济学硕士的身份从北京大学经济学院毕业至今，长期工作在国家科技和经济领域的研究部门第一线。 </p>
			<p>2013年开始研究区块链和比特币，探讨用中经网机房空余算力挖矿。2016年6月起，将研究重点转向区块链经济学，发表数十篇文章和数十期演讲。 曾在北京大学、清华大学、中央电视台、全国人大、国家开发银行、华融资产、中国移动、中国版权保护中心、中国移动通信联合会、中国信息协会、外经贸大学、上海交大、中国科学院大学、华北电力大学、扬州大学、浙江工商大学、大连市、西昌市等发表近百场宏观经济与区块链经济学专题演讲。</p>
			<p>到目前为止任职有： </p>
			<p>*国家信息中心中经网管理中心副主任、党总支副书记； </p>
			<p>*国家信息中心中国经济信息网总编审； </p>
			<p>*国家信息中心中国智慧城市发展研究中心研究员； </p>
			<p>*中国区块链生态联盟（工信部）专家委员会成员； </p>
			<p>*中国移动通信联合会国际区块链创新应用联盟专家委员会副主任； </p>
			<p>*中国电机工程学会电力大数据学组成员； </p>
			<p>*国家北斗数据中心办公室专家； </p>
			<p>*国家外专局专家； </p>
			<p>*亚洲区块链产业研究院荣誉董事兼首席前瞻性官 （Honorary Director and Chief Visionary Officer）等</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member14.jpg" />
		</div>
		<div class="intro-part">
			<h2>詹晓雅</h2>
			<span>高级顾问</span>
			<p>毕业于美国UCLA ，应用数学博士，中国科学院深圳先进技术研究院金融大数据中心执行主任，擅长互联网大规模数据挖掘、分布式处理和分布式经济体系设计等，曾担任为科技部973项目子课题负责人，并有多种交易模型被金融机构采用，深圳市孔雀计划入选者。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member15.jpg" />
		</div>
		<div class="intro-part">
			<h2>郭平</h2>
			<span>法务顾问</span>
			<p>毕业于清华大学，法律硕士，拥有国家法律职业资格、企业法律顾问资格以及国家专利代理人职业资格。曾就职于特大央企中国航空工业集团公司知识产权管理办公室，在专利代理、技术创新保护及企业法务管理方面拥有8年经验，曾经为集团公司提交全国人大立法建议起草人。</p>
		</div>
	</div>
</div>
</main>