<main>
<div class="second-page-title team-page">
	<h2>我们的团队</h2>
	<span>业内一线权威专家倾情授课</span>
</div>
<div class="container team-page-content">
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member1.jpg" />
		</div>
		<div class="intro-part">
			<h2>卜伟民</h2>
			<span>创始人&项目运营负责人</span>
			<p>八方人科技、链客工场创始人， 互联网持续创业者，10年创业经历。</p>
			<p>曾开发与运营多款互联网产品。</p>
			<p>区块链产业生态早期研究者，曾参与和投资多个区块链早期项目，涉及交易平台、产业基金、国内外优质项目等。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member2.jpg" />
		</div>
		<div class="intro-part">
			<h2>郭璐</h2>
			<span>联合创始人&媒体运营负责人</span>
			<p>毕业于英国卡迪夫大学国际新闻专业，硕士研究生。</p>
			<p>曾经供职于Financial Times，新华社和21世纪经济报道。</p>
			<p>具有独特的视角和报道风格，以及拥有丰富的媒体资源及创投圈资源。</p>
			<p>擅长事件公关，项目营销等。</p>
		</div>
	</div>
	<div class="team-member">
		<div class="photo-part">
			<img src="/png/team_page_member3.jpg" />
		</div>
		<div class="intro-part">
			<h2>余长江</h2>
			<span>联合创始人&平台架构负责人</span>
			<p>毕业于北京大学，高级工程师。</p>
			<p>曾就职于微软、法国电信、中国五矿等多家500强企业，曾在国家重点实验室参研多项“863”、“973”国家科技支撑重点项目。</p>
			<p>有10年以上高可信分布式计算研究和工程实践经验，资深区块链技术架构专家。</p>
		</div>
	</div>
</div>
</main>