<main>
<div class="container techpost">
	<div class="techpost-top">
		<div class="left">
			<div class="title-banner">
				<h1>区块链来了！传统行业人的焦虑与培训市场的“陷阱”</h1>
				<p>互联网风风火火二十多年来，去年还在热烈讨论共享经济，今年就被区块链的概念盖过了风头。</p>
			</div>
		</div>
		<div class="right">
			<div class="activity-item">
				<a href="/techpost/activity/1">
					<h3>我有一个活动你要不要来！</h3>
					<p>如题，链客工场要举办活动啦，区块链精品社区大爆发！</p>
				</a>
			</div>
			<div class="activity-item">
				<a href="/techpost/activity/1">
					<h3>我有一个活动你要不要来！</h3>
					<p>如题，链客工场要举办活动啦，区块链精品社区大爆发！</p>
				</a>
			</div>
			<div class="activity-item">
				<a href="/techpost/activity/1">
					<h3>我有一个活动你要不要来！</h3>
					<p>如题，链客工场要举办活动啦，区块链精品社区大爆发！</p>
				</a>
			</div>
			<div class="activity-item">
				<a href="/techpost/activity/1">
					<h3>我有一个活动你要不要来！</h3>
					<p>如题，链客工场要举办活动啦，区块链精品社区大爆发！</p>
				</a>
			</div>
			<a href="/techpost/activity/list">
				<div class="more">
				</div>
			</a>
		</div>
	</div>
	<div class="techpost-middle">
		<div class="top-news-item">
			<a href="/techpost/activity/1">
				<div class="img" style="background: url('/png/tech_activity1.jpg') no-repeat center center;"></div>
				<div class="author-time">
					<span>链客工场</span>
					<span>2小时前</span>
				</div>
				<h3>我是头条资讯的候选词条第一位</h3>
			</a>
		</div>
		<div class="top-news-item">
			<a href="/techpost/activity/1">
				<div class="img" style="background: url('/png/tech_activity2.jpg') no-repeat center center;"></div>
				<div class="author-time">
					<span>链客工场</span>
					<span>2小时前</span>
				</div>
				<h3>我是头条资讯的候选词条第二位</h3>
			</a>
		</div>
		<div class="top-news-item">
			<a href="/techpost/activity/1">
				<div class="img" style="background: url('/png/tech_activity3.jpg') no-repeat center center;"></div>
				<div class="author-time">
					<span>链客工场</span>
					<span>2小时前</span>
				</div>
				<h3>我是头条资讯的候选词条第三位</h3>
			</a>
		</div>
		<div class="top-news-item">
			<a href="/techpost/activity/1">
				<div class="img" style="background: url('/png/tech_activity4.jpg') no-repeat center center;"></div>
				<div class="author-time">
					<span>链客工场</span>
					<span>2小时前</span>
				</div>
				<h3>我是头条资讯的候选词条第N位</h3>
			</a>
		</div>
	</div>
	<div class="techpost-bottom">
		<div class="left">
			<h1><span>链客资讯</span></h1>
			<div class="news-item">
				<div class="news-img" style="background: url('/png/tech_news_img1.jpg') no-repeat top center">
					<img class="tag" src="/png/tech_tag2.png" />
				</div>
				<div class="news-text">
					<a href="/techpost/report/1">
						<h3>韩国央行：加密货币和区块链将创造无现金社会</h3>
						<p>根据韩国媒体TokenPost在5月1日的报道，韩国央行最近宣布正在考虑为其建设“无现金社会”的计划开发加密货币和区块链应用。</p>
						<div class="author-time">
							<span>链客工场</span>
							<span>·</span>
							<span>2017/06/17</span>
						</div>
					</a>
				</div>
			</div>
			<div class="news-item">
				<div class="news-img" style="background: url('/png/tech_news_img2.jpg') no-repeat top center">
					<img class="tag" src="/png/tech_tag1.png" />
				</div>
				<div class="news-text">
					<a href="/techpost/report/1">
						<h3>超级节点引爆超级行情！EOS20天暴涨3.5倍！什么是超级节点？</h3>
						<p>4月中旬以来，随着EOS主网上线的临近以及EOS超级节点竞选白热化，EOS行情持续火爆！</p>
						<div class="author-time">
							<span>链客工场</span>
							<span>·</span>
							<span>2017/06/17</span>
						</div>
					</a>
				</div>
			</div>
			<div class="news-item">
				<div class="news-img" style="background: url('/png/tech_news_img3.jpg') no-repeat center center">
					<img class="tag" src="" />
				</div>
				<div class="news-text">
					<a href="/techpost/report/1">
						<h3>【大擂台】抢占产业制高点 国内外多个城市欲抢“区块链第一城”</h3>
						<p>迪拜：打造全球区块链发展中心</p>
						<div class="author-time">
							<span>链客工场</span>
							<span>·</span>
							<span>2017/06/17</span>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="week-hot">一周热文</div>
			<div class="topic-first" style="background: url('/png/tech_topic_bg1.jpg') no-repeat center center;">
				<span>区块链的核心是什么？</span>
			</div>
			<div class="topic">
				<div class="left" style="background: url('/png/tech_topic_bg2.jpg') no-repeat center center;"></div>
				<div class="right">
					<h4>Matryx，来自未来的科研协作平台</h4>
					<span>2017/06/17</span>
				</div>
			</div>
			<div class="topic">
				<div class="left" style="background: url('/png/tech_topic_bg3.jpg') no-repeat center center;"></div>
				<div class="right">
					<h4>迪拜的“雄心”：2020年半数政府…</h4>
					<span>2017/06/17</span>
				</div>
			</div>
			<div class="topic">
				<div class="left" style="background: url('/png/tech_topic_bg4.jpg') no-repeat center center;"></div>
				<div class="right">
					<h4>北京大学区块链总裁班</h4>
					<span>2017/06/17</span>
				</div>
			</div>
			<div class="topic">
				<div class="left" style="background: url('/png/tech_topic_bg5.jpg') no-repeat center center;"></div>
				<div class="right">
					<h4>浙大将设“区块链与数字货币”课程</h4>
					<span>2017/06/17</span>
				</div>
			</div>
		</div>
	</div>
</div>
</main>