<header>
	<div class="container">
		<div class="header-icon-part">
			<a href="/techpost">
				<img class="header-icon" alt="链客科技报道" src="/png/techpost-header-icon.png"/>
			</a>
		</div>
		<div class="header-text-part">
			<ul>
				<a href="/techpost"><li>首页</li></a>
				<a href="/techpost/news/list"><li>快讯</li></a>
				<a href="/techpost/topic/list"><li>专题</li></a>
				<a href="/techpost/activity/list"><li>活动</li></a>
			</ul>
		</div>
		<div class="another-link">
			<a href="/">链客工场&gt;</a>
		</div>
		<div class="totop" id="totop">
			<img src="/png/totop.png" />
		</div>
	</div>
</header>